<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTTTTT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B27149C41CC63BA70090D69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27149DD1CC63BA80090D69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27149E81CC63BA80090D69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
